In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\HP Pavilion\Downloads\Ingredients.csv")

In [3]:
df.head(10)

         Ingredient Name
0                   Salt
1                    Oil
2      Red chilli powder
3        Turmeric powder
4                  Sugar
5            Cumin seeds
6            Lemon juice
7                 Butter
8                   Milk
9  Refined flour (maida)

In [4]:
df.info

<bound method DataFrame.info of                            Ingredient Name
0                                     Salt
1                                      Oil
2                        Red chilli powder
3                          Turmeric powder
4                                    Sugar
...                                    ...
9993              Lettuce leaves refreshed
9994         Paneer cut into 1½ inch cubes
9995                     Split bengal Gram
9996  Green capsicum cut into½ inch pieces
9997         Carrots  seeded, 1/2 cm cubes

[9998 rows x 1 columns]>

In [5]:
#listing some of restricted words
res_words=['red','black','green','crushed','powder','oil','refreshed','refined','cut into','split','chopped','seed',
           'root','juice','leaves','flour','finely chopped','fresh','cut','into','in','on','fine','finely','seeds',
           'split','+','teaspoon','tspn','piece']

In [6]:
df.columns

Index(['Ingredient Name'], dtype='object')

In [7]:
df_copy=df.copy()

In [8]:
df_copy.columns

Index(['Ingredient Name'], dtype='object')

In [9]:
df_copy['Ingredient Name'][2]

'Red chilli powder'

In [10]:
length=len(df_copy['Ingredient Name'])

In [11]:
import re
for i in range(length):
    x=re.split(' ',df_copy['Ingredient Name'][i])
    df_copy['Ingredient Name'][i]=x

In [12]:
df_copy.head(20)

                        Ingredient Name
0                                [Salt]
1                                 [Oil]
2                 [Red, chilli, powder]
3                    [Turmeric, powder]
4                               [Sugar]
5                        [Cumin, seeds]
6                        [Lemon, juice]
7                              [Butter]
8                                [Milk]
9             [Refined, flour, (maida)]
10  [Fresh, coriander, leaves, chopped]
11                               [Ghee]
12              [Garam, masala, powder]
13        [Crushed, black, peppercorns]
14                    [Garlic, chopped]
15                             [Yogurt]
16                  [Coriander, powder]
17                               [Eggs]
18                         [Olive, oil]
19                     [Mustard, seeds]

In [13]:
for i in df_copy['Ingredient Name']:
    if len(i)>1:
        for x in i:
            if x.lower() in res_words:
                i.remove(x)

In [14]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9998 entries, 0 to 9997
Data columns (total 1 columns):
Ingredient Name    9998 non-null object
dtypes: object(1)
memory usage: 78.2+ KB

In [15]:
pattern1=".*ed$"
for i in df_copy['Ingredient Name']:
    for x in i:
        a=re.search(pattern1,x)
        if a != None:
            i.remove(a.string)

In [16]:
for i in df_copy['Ingredient Name']:
    if len(i)>1:
        for x in i:
            if x.lower() in res_words:
                i.remove(x)

In [17]:
df_copy[6350:6370]

                                        Ingredient Name
6350                                           [Cheese]
6351                               [Chettinaad, masala]
6352                  [Saffron, , 2, tablespoons, milk]
6353            [Carrot, medium,, and, ½, inch, pieces]
6354                                           [Radish]
6355                                    [Onions, rings]
6356                              [Medium, carrot, and]
6357       [Medium, potatoes, (aloo), boiled,, peeled,]
6358                                         [amaranth]
6359        [lentils, (masoor, dal), for, ½, hour, and]
6360  [gram, skinless, (dhuli, moong, dal), pressure...
6361  [skinless, gram, (dhuli, moong, dal), for, ½, ...
6362                                   [Bamboo, shoots]
6363                                          [raisins]
6364                               [Small, ladyfingers]
6365             [(maida), dough, with, carom, (ajwain]
6366                               [Chhunda, to, serve]
6367                             [Fat, light, chillies]
6368                       [Roomali, rotis, rectangles]
6369                 [Cashewnuts, for, 1-2, hours, and]

In [18]:
pattern1=".*ed$"
for i in df_copy['Ingredient Name']:
    for x in i:
        a=re.search(pattern1,x)
        if a != None:
            i.remove(a.string)

In [19]:
df_copy[6350:6370]

                                        Ingredient Name
6350                                           [Cheese]
6351                               [Chettinaad, masala]
6352                  [Saffron, , 2, tablespoons, milk]
6353            [Carrot, medium,, and, ½, inch, pieces]
6354                                           [Radish]
6355                                    [Onions, rings]
6356                              [Medium, carrot, and]
6357       [Medium, potatoes, (aloo), boiled,, peeled,]
6358                                         [amaranth]
6359        [lentils, (masoor, dal), for, ½, hour, and]
6360  [gram, skinless, (dhuli, moong, dal), pressure...
6361  [skinless, gram, (dhuli, moong, dal), for, ½, ...
6362                                   [Bamboo, shoots]
6363                                          [raisins]
6364                               [Small, ladyfingers]
6365             [(maida), dough, with, carom, (ajwain]
6366                               [Chhunda, to, serve]
6367                             [Fat, light, chillies]
6368                       [Roomali, rotis, rectangles]
6369                 [Cashewnuts, for, 1-2, hours, and]

In [20]:
prepositions=['into','and','in','about','like','for','with','of','a','an','the']
units=['hour','minutes','hours','day','days','seconds','small','medium','large','tablespoon','tablespoons','inch',
       'cm','mm','raw','cube','whole','half']
for i in df_copy['Ingredient Name']:
    if len(i)>1:
        for x in i:
            if x.lower() in prepositions or x.lower() in units:
                i.remove(x)

In [21]:
df_copy[6350:6370]

                                        Ingredient Name
6350                                           [Cheese]
6351                               [Chettinaad, masala]
6352                               [Saffron, , 2, milk]
6353                       [Carrot, medium,, ½, pieces]
6354                                           [Radish]
6355                                    [Onions, rings]
6356                                           [carrot]
6357               [potatoes, (aloo), boiled,, peeled,]
6358                                         [amaranth]
6359                   [lentils, (masoor, dal), ½, and]
6360  [gram, skinless, (dhuli, moong, dal), pressure...
6361      [skinless, gram, (dhuli, moong, dal), ½, and]
6362                                   [Bamboo, shoots]
6363                                          [raisins]
6364                                      [ladyfingers]
6365                   [(maida), dough, carom, (ajwain]
6366                               [Chhunda, to, serve]
6367                             [Fat, light, chillies]
6368                       [Roomali, rotis, rectangles]
6369                             [Cashewnuts, 1-2, and]

In [22]:
for i in df_copy['Ingredient Name']:
    if len(i)>1:
        for x in i:
            if x.isnumeric()==True:
                i.remove(x)

In [23]:
df_copy[6350:6370]

                                        Ingredient Name
6350                                           [Cheese]
6351                               [Chettinaad, masala]
6352                                  [Saffron, , milk]
6353                          [Carrot, medium,, pieces]
6354                                           [Radish]
6355                                    [Onions, rings]
6356                                           [carrot]
6357               [potatoes, (aloo), boiled,, peeled,]
6358                                         [amaranth]
6359                      [lentils, (masoor, dal), and]
6360  [gram, skinless, (dhuli, moong, dal), pressure...
6361         [skinless, gram, (dhuli, moong, dal), and]
6362                                   [Bamboo, shoots]
6363                                          [raisins]
6364                                      [ladyfingers]
6365                   [(maida), dough, carom, (ajwain]
6366                               [Chhunda, to, serve]
6367                             [Fat, light, chillies]
6368                       [Roomali, rotis, rectangles]
6369                             [Cashewnuts, 1-2, and]

In [24]:
pattern2="\d"
for i in df_copy['Ingredient Name']:
    for x in i:
        a=re.search(pattern2,x)
        if a != None:
            i.remove(a.string)
            #print(a.string)

In [25]:
for i in df_copy['Ingredient Name']:
    if len(i)>1:
        for x in i:
            if x.lower() in res_words:
                i.remove(x)
pattern1=".*ed$"
for i in df_copy['Ingredient Name']:
    for x in i:
        a=re.search(pattern1,x)
        if a != None:
            i.remove(a.string)
for i in df_copy['Ingredient Name']:
    if len(i)>1:
        for x in i:
            if x.lower() in prepositions or x.lower() in units:
                i.remove(x)
for i in df_copy['Ingredient Name']:
    if len(i)>1:
        for x in i:
            if x.isnumeric()==True:
                i.remove(x)
pattern2="\d"
for i in df_copy['Ingredient Name']:
    for x in i:
        a=re.search(pattern2,x)
        if a != None:
            i.remove(a.string)
            #print(a.string)

In [26]:
df1=df_copy.copy()

In [27]:
pattern1=".*ed,$"
for i in df1['Ingredient Name']:
    for x in i:
        a=re.search(pattern1,x)
        if a != None:
            i.remove(a.string)

In [28]:
df1[1000:1020]

                            Ingredient Name
1000                               [olives]
1001                              [Walnuts]
1002                                [Sugar]
1003                  [Sugar, Free, Natura]
1004           [Tomato, ketchup, to, serve]
1005             [Boneless, chicken, cubes]
1006                                 [Kiwi]
1007                      [Chicken, strips]
1008  [gram, skinless, (dhuli, moong, dal)]
1009               [Spring, onions, greens]
1010                     [capsicum, pieces]
1011                       [Tomato, slices]
1012                        [Spring, Onion]
1013                    [Broccoli, florets]
1014                             [chillies]
1015                             [tomatoes]
1016                       [Tomatoes, firm]
1017                                 [Milk]
1018                  [Eggless, mayonnaise]
1019                            [Chocolate]

In [29]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9998 entries, 0 to 9997
Data columns (total 1 columns):
Ingredient Name    9998 non-null object
dtypes: object(1)
memory usage: 78.2+ KB

In [30]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words("english"))
print(stop_words)
for i in df1['Ingredient Name']:
    if len(i)>1:
        for x in i:
            if x.lower() in stop_words:
                i.remove(x)

{'above', "it's", 'their', 'each', "hadn't", 'then', 'the', 'couldn', 'are', 'were', 'same', 'what', 're', 'was', 'needn', 'a', 'y', "weren't", 'yourself', 'some', 'against', 'hadn', "you've", 'yourselves', 'if', 'of', 'during', 'most', 'wouldn', 'between', 'for', 'any', "didn't", "needn't", 'o', "you'll", 'this', 'here', 's', 'over', 'which', 'once', 'these', 'has', 'and', 'so', 'doing', 'ain', 'she', 'about', "wasn't", "doesn't", "won't", 'my', 'd', "don't", "mustn't", 'is', 'hers', "aren't", "shan't", 'don', 'those', 'no', 'our', 'further', 'few', 'than', 'had', 'it', 'by', 'me', 'only', "couldn't", 'doesn', 'ourselves', 'itself', "you're", 'an', 'your', 'out', 've', 'be', 'mightn', "mightn't", 'on', 'its', 'off', 'both', 'hasn', "wouldn't", "should've", 'shouldn', 'should', 'you', 'that', 'myself', "you'd", 'do', 'isn', 'did', 'shan', 'there', 'yours', 'at', 'not', 'his', 'her', 'into', 'them', "she's", 'too', 'before', 'been', 'who', 'from', 'ma', 'does', 'why', 'below', 'having', 'we', 'under', 'other', 'weren', 'i', 'm', 'after', 'nor', 'but', 'as', 'won', 'up', 'because', 'until', 'such', 'down', 'ours', 'they', 'to', 'when', 'wasn', 'have', 'theirs', "that'll", 'whom', 'more', 'or', 'he', 'mustn', 'themselves', 'being', "hasn't", 'all', "isn't", 'am', 'can', 'how', 'while', 'him', 'very', 'with', 'in', 'through', 'himself', 'again', 'now', 'herself', 'will', "haven't", "shouldn't", 'just', 'didn', 'aren', 'haven', 'own', 'll', 't', 'where'}

In [31]:
df1['Ingredient Name'][5][0]

'Cumin'

In [32]:
from nltk.stem import WordNetLemmatizer

In [33]:
lemmtizer = WordNetLemmatizer()
length=len(df1['Ingredient Name'])
for i in range(length):
    for index,x in enumerate(df1['Ingredient Name'][i]):
        #for y in x:
        #index=df1['Ingredient Name'][i].index(x)
        #print(index)
        y=lemmtizer.lemmatize(x.lower())
        #print(y)
        df1['Ingredient Name'][i][index]=y
            #x = [lemmtizer.lemmatize(word) for word in x]

In [34]:
pattern1=".*less$"
for i in df1['Ingredient Name']:
    for x in i:
        a=re.search(pattern1,x)
        if a != None:
            i.remove(a.string)

In [35]:
pattern2="nuts"
for i in df1['Ingredient Name']:
    for index,x in enumerate(i):
        #a=re.search(pattern2,x)
        #if a != None:
            #print(a.string)
        i[index]=re.sub(pattern2,"",x)

In [36]:
pattern3=".*s$"
for i in df1['Ingredient Name']:
    for index,x in enumerate(i):
        #a=re.search(pattern3,x)
        #if a != None:
            #print(a.string)
        i[index]=re.sub(pattern3,"",x)

In [37]:
df1.tail(20)

                 Ingredient Name
9978   [cumin, coarsely, ground]
9979                   [chutney]
9980                    [chilli]
9981                  [garlic, ]
9982             [jasmine, rice]
9983               [mango, cube]
9984                   [brinjal]
9985          [shikanji, masala]
9986               [plum, piece]
9987               [grape, cube]
9988                   [chicken]
9989       [amaranth, (rajgira)]
9990                      [bean]
9991      [sweet, lime, segment]
9992  [pigeon, pea, (toor, dal)]
9993                   [lettuce]
9994              [paneer, cube]
9995              [bengal, gram]
9996    [capsicum, into½, piece]
9997            [carrot, , cube]

In [38]:
pattern4=".*ly$"
for i in df1['Ingredient Name']:
    for index,x in enumerate(i):
        #a=re.search(pattern3,x)
        #if a != None:
            #print(a.string)
        i[index]=re.sub(pattern4,"",x)

In [39]:
pattern1=".*less$"
for i in df1['Ingredient Name']:
    for x in i:
        a=re.search(pattern1,x)
        if a != None:
            i.remove(a.string)
pattern2="nuts"
for i in df1['Ingredient Name']:
    for index,x in enumerate(i):
        #a=re.search(pattern2,x)
        #if a != None:
            #print(a.string)
        i[index]=re.sub(pattern2,"",x)
pattern3=".*s$"
for i in df1['Ingredient Name']:
    for index,x in enumerate(i):
        #a=re.search(pattern3,x)
        #if a != None:
            #print(a.string)
        i[index]=re.sub(pattern3,"",x)
pattern4=".*ly$"
for i in df1['Ingredient Name']:
    for index,x in enumerate(i):
        #a=re.search(pattern3,x)
        #if a != None:
            #print(a.string)
        i[index]=re.sub(pattern4,"",x)

In [40]:
df2=df1.copy()

In [41]:
s=' '
for index,i in enumerate(df2['Ingredient Name']):
    df2['Ingredient Name'][index]=s.join(i)

In [42]:
df2.head()

  Ingredient Name
0            salt
1             oil
2          chilli
3        turmeric
4           sugar

In [43]:
df2[255:265]

               Ingredient Name
255                        msg
256                      apple
257               tomato puree
258                        pea
259  fenugreek (kasoori methi)
260               chilli sauce
261                     celery
262          ginger thin strip
263      gram (dhuli urad dal)
264                     garlic

In [44]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9998 entries, 0 to 9997
Data columns (total 1 columns):
Ingredient Name    9998 non-null object
dtypes: object(1)
memory usage: 78.2+ KB

In [ ]:
#THE END